// 公共面板组件通用样式
.common-board-column {
  min-width: 180px;
  min-height: 100px;
  max-width: 350px;
  height: auto;
  overflow: hidden;
  // background: #f0f0f0;
  // border: 1px solid $--border-color-base;
.common-phase-description {
  position: relative;
  background: rgb(217, 236, 255);
  width: 42px;
  height: 40px;
}


.common-board-column-header {
  line-height: 40px;
  overflow: hidden;
  text-align: center;
  background: $--color-primary;
  color: #FFFFFF;
  height: 40px;
}
.common-board-table-header {
  height: 42px;
  overflow: hidden;
  text-align: center;
  margin-bottom: -20px;
  font-size: 14px;
  color: $--color-info;
  background-color: $--color-black;
  border: 20px solid transparent;
  border-bottom-width: 0px;
  .common-titlecolumn {
    float: left;
    text-align: left;
  }
  .phase {
    width: 50px;
  }
  .mode {
    width: calc(100% - 50px)
  }
}

.common-board-column-content {
  height: auto;
  overflow: hidden;
  border: 10px solid transparent;
  min-height: 60px;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  background-color: $--color-black;
  border-width: 20px;
  border-top-width: 16px;
  border-bottom-width: 15px;
  .common-contentcolumn {
    float: left;
  }
  .phase {
    width: 40px;
  }
  .mode {
    margin-left: 10px;
    width: calc(100% - 50px);
  }

  .common-board-item {
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    text-align: left;
    box-sizing: border-box;
    .el-input {
      width: 100%;
      .el-input__inner {
        height: 40px;
        line-height: 40px;
      }
    }
  }
}
}